body{
    margin: 0;
    padding: 0;
    font-style: italic;
    background-image: url('./Img/hotel-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;    
}
nav{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 60%;
    font-style: italic;
    background-color: black;
    opacity: 0.6;
    color: white;
    font-size: large;

}
a{
    text-decoration: none;
    color: red;
    font-weight: 900;
}
.nav2{
    display: flex;
    gap: 2vw;
}
.nav2 div img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transform: translate(-1rem, -0.4rem);
}
h1{
    height: 40px;
    letter-spacing: 2vw;
    text-align: center;
    background:transparent;
    margin-top: 0.1vw;
    margin-bottom: 0vw;
    outline: 5px;
    color: white;
    text-decoration: underline;
    margin-top: 10px;
}
p{
    color: white;
    font-size: 1.5vw;
    padding: 4vw;
}
h3{
    color: white;
    font-size: 3vw;
    text-align: center;
}
strong{
    font-size: larger;
    text-decoration: underline;
    padding-top: 15x;
}
h2{
    text-align: center;
    color: white;
    
}